/* MAIN PIECES */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

body, html {
	margin: 0;
	padding: 0;
	top: 0;
	font-family: 'Maven Pro', sans-serif;
}

#css-zen-garden {
	
}

.page-wrapper {

}
/* END MAIN PIECES */


/* TYPOGRAPHY */
h1 {
	font-size: 85px;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	font-weight: bold;
}

h3 {
	font-size: 25px;
	font-weight: bold;
	padding: .5%;
}

p {
	font-size: 14px;
	padding: .5%;
}
/* END TYPOGRAPHY */


/* LINKS & UL LI */
ul {
	text-decoration: none;
}

ul li {
	text-decoration: none;
	list-style-type: none;
}

a:link {
	text-decoration: none;
	color: #F9B7FF;
	transition: all .5s ease 0;
}

a:visited {
	text-decoration: none;
	color: #E0B0FF;
}

a:hover {
	text-decoration: none;
	color: #E6A9EC;
	background-color: #EBDDE2;
	padding: 4px;
	transition: all .5s ease 0;
}

a:active {
	text-decoration: none;
}
/* END LINKS & UL LI */


/* INTRO */
header {
	background: url(img/flower.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	width: 100%;
	margin-top: -20px;
	padding: 25% 0 25% 0;
	text-align: center;
	color:#fff;
}

header h2 {
	margin-top: -75px;
}

.summary {
	background-color: #FFF;
	width:75%;
	margin: 5% auto 5% auto;
	text-align: center;
}
/* END INTRO */


/* PREAMBLE */
.preamble {
	background: url(img/beach.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	width: 100%;
	padding: 25% 0 25% 0;
	color: #FFF;
}

#zen-preamble h3 {
	text-align: center;
	background-color: #000;
}

#zen-preamble p {
	width: 75%;
	margin:0 auto 0 auto;
	background-color: #000;
}
/* END PREAMBLE */


/* EXPLANATION */
.explanation {
	background-color: #FFF;
	width:75%;
	margin: 5% auto 5% auto;
}

.explanation h3 {
	text-align: center;
}

.explanation p {
	margin:0 auto 0 auto;
}
/* END EXPLANATION */


/* PARTICIPATION */
.participation {
	background: url(img/tree.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	width: 100%;
	padding: 25% 0 25% 0;
	color: #fff;
}

.participation h3 {
	text-align: center;
	background-color: #000;
}

.participation p {
	width: 75%;
	margin:0 auto 0 auto;
	background-color: #000;
}
/* END PARTICIPATION */


/* BENIFITS */
.benefits {
	background-color: #FFF;
	width:75%;
	margin: 5% auto 5% auto;
}

.benefits h3 {
	text-align: center;
}

.benefits p {
	margin:0 auto 0 auto;
}
/* END BENIFITS */


/* REQUIRMENTS */
.requirements {
	background: url(img/ocean.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	width: 100%;
	padding: 25% 0 25% 0;
	color: #fff;
}

.requirements h3 {
	text-align: center;
	background-color: #000;
}

.requirements p {
	width: 75%;
	margin:0 auto 0 auto;
	background-color: #000;
}
/* END REQUIRMENTS */


/* FOOTER */
footer {
	margin:0 auto 0 auto;
	padding: 2%;
	text-align: center;
	width: 50%;
}
/* END FOOTER */

/* SIDEBAR */
.sidebar {
	width: 100%;
	margin:0 auto 0 auto;
	margin-bottom: 300px;
	text-align: center;
}

.sidebar h3 {

}

.design-selection {
	width:33.3%;
	float: left;
	margin: 0 auto 0 auto;
}

.design-archives {
	width:33.3%;
	float: left;
	margin:0 auto 0 auto;
}

.zen-resources {
	width: 33.3%;
	float: left;
	margin:0 auto 0 auto;
}
/* END SIDEBAR */
